<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLServer.Task7.Domain.Properties.Settings.SQLServer_Task7_DatabaseConnectionString"
            connectionString="Data Source=LAIT-PC\SQLEXPRESS;Initial Catalog=SQLServer.Task7.Database;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>